<html>
  <head>
    <link rel="stylesheet" href="/screen.css" type="text/css" media="screen" />
    <title>Venta de Garage</title>
  </head>

  <body>
    <h1>Venta de Garage</h1>
    <%= yield %>
  </body>
</html>

